{%extends "::base.html.twig"%}

{%block body%}
<div class="sign-in">
    {{form(form)}}
</div>
<br/>
    <table class="table">
        <thead>
            <tr>
                <th>{{ customerName }}</th>
                <th>{{ customerEmail }}</th>
            </tr>
        </thead>
        <tbody>
        {% for res in result %}
            <tr>
                <td><a href="{{ path('wizard_customer_show', { 'id': res.getId() }) }}">{{ res.getCustName() }}</a></td>
                <td>{{ res.getEmail() }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{%endblock%}
