{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Customer</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ customerName }}</th>
                <td>{{ customerentity.custName }}</td>
            </tr>
            <tr>
                <th>{{ customerEmail }}</th>
                <td>{{ customerentity.email }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('Search_Car', { 'CustId':customerentity.getId() }) }}">Go to Car</a>

{% endblock %}
