{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Vendor</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ vendorName }}</th>
                <td>{{ vendorentity.vendorName }}</td>
            </tr>
            <tr>
                <th>{{ vendorEmail }}</th>
                <td>{{ vendorentity.email }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('Search_Category', { 'VenId':vendorentity.getId() }) }}">Go to Category</a>

{% endblock %}
