{%extends "::base.html.twig"%}
{%block body%}
<a href="{{path('customer')}}">Customer</a><br/>
<a href="{{path('category')}}">Category</a><br/>
<a href="{{path('part')}}">Part</a><br/>
<a href="{{path('service')}}">Service</a><br/>
<a href="{{path('car')}}">Cars</a><br/>
<a href="{{path('invoice')}}">Invoice</a>

{%endblock%}