{% extends '::base.html.twig' %}

{% block body -%}
<h1>Part</h1>

<table class="table">
	<tbody>
		<tr>
			<th>{{ price }}</th>
			<td>{{ entity.price }}</td>
		</tr>
		<tr>
			<th>{{ purchasedDate }}</th>
			<td>{{ entity.purchasedDate|date('Y-m-d') }}</td>
		</tr>
		<tr>
			<th>{{ vendorWarranty }}</th>
			<td>{{ entity.vendorWarranty }}</td>
		</tr>
	</tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('part') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('part_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
