{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Car</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ regNumber }}</th>
                <td>{{ entity.regNumber }}</td>
            </tr>
            <tr>
                <th>{{ model }}</th>
                <td>{{ entity.model }}</td>
            </tr>
            <tr>
                <th>{{ manufactureYear }}</th>
                <td>{{ entity.manufactureYear|date('Y-m-d') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('car') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('car_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
