{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Category</h1>
    <br/>
    <table class="table">
        <tbody>
            <tr>
                <th>{{ categoryName }}</th>
                <td>{{ entity.categoryName }}</td>
            </tr>
            <tr>
                <th>{{ description }}</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>{{ minStock }}</th>
                <td>{{ entity.minStock }}</td>
            </tr>
            <tr>
                <th>{{ stock }}</th>
                <td>{{ entity.stock }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('category') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('category_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
